@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600,600italic,700,700italic);
* {
 margin:0;
 padding:0;
}
html {
    background:#fffff5;
    font-family: 'Crimson Text', serif;
}


.title {
    border:none;
    background:none;
    font-size:60px;
    line-height:66px; 
    outline:none;
    border:none;
    width:100%;
    margin-bottom:33px;
    color:#222;
    font-family: 'Crimson Text', serif;
}
.editor {
     margin:100px 0 0 165px;
     font-family: 'Crimson Text', serif;
     max-width:727px;
     color:#555;
    min-height:800px;
}
#editor, .the-text {
     line-height:33px;
     font-size:22px;
     font-family: 'Crimson Text', serif;
     outline:none;
     border:none;
     width:100%;
    overflow:hidden;
    height:800px;
    background:transparent;
    color:#444;
    line-height:33px;
    p {
        margin-bottom:33px;
    }
}

 .icon-cont {
 position:fixed;
 top:120px;
 left:99px;
 width:33px;
 height:33px;
 border:1px solid #111;
 border-radius:50%;
 text-align:center;
}

.add-new::before {
 line-height:33px;
}
.add-new {
  background:transparent;
    border:none;
    font-size:18px;
    line-height:33px;
}

.highlight-btn {
        
}

.conversion-btn {
    border:none;
    box-shadow: none;
    background: rgba(255,255,255,0.5);
    margin-left: 10px;
}

.conversion-btn > img{
        width:50px;
        height:50px;
}

.btns-container{
    background:rgba(255,255,255,0.5);
    border-top:rgba(0,0,0,0.5);
    position:fixed;
    bottom: 0px;
    width:100%;
    height: 80px;
}

.highlight-btns {
    width:700px;
    margin:auto;
    z-index:150;
    bottom:0px;
}

.btns{
    height:80px;
    transition: .5s bottom ease-in-out;
}

.btns-jugaad {
     position:fixed;
     bottom:0px;
     width:100%;
}

.convert-btns{
    width:300px;
    margin:auto;
    margin-bottom:-80px;
}

.highlight-btns:after{
    content:"";
    display: block;
    clear: both;
}

.onoffswitch {
 position:relative;
 float:left;
 margin-right:66px;
 width:60px;
 -webkit-user-select: none;
 -moz-user-select:none;
 -ms-user-select: none;
    text-align:center;
}

.onoffswitch-checkbox {
 display:none;
}

.onoffswitch-label {
 display: block;
 overflow: hidden; 
 cursor: pointer;
 border: 2px solid #999999;
 border-radius:20px;
}

.onoffswitch-inner {
 display: block;
 width:200%;
 margin-left:-100%;
 transition:margin 0.3s ease-in 0s;
 z-index:1;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
 display:block;
 float: left;
 width:50%;
 height: 4px;
 padding: 0;
 line-height:30px;
 font-size: 14px;
 color: white;
 box-sizing: border-box;
}
.onoffswitch-inner:before{
 content: "ON";
 padding-left: 10px;
 background-color: green;
 color: #fff;
}

.onoffswitch-inner:after{
 content: "OFF";
 padding-right: 10px;
 background-color:#ddd;
 color:#999;
 text-align: right;
}

.onoffswitch-switch {
 display: block;
 width:15px;
 height:15px;
 margin:-6px 2px 0 0;
 background:#fff;
 position: absolute;
 top:0;
 bottom: 0;
 right: 35px;
 border: 2px solid #999;
 border-radius: 20px;
 transition: all 0.3s ease-in 0s;
 z-index:2;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
 margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
 right: 0px;
}
.margined {
    margin-left:150px;
    li {
        line-height:2;
    }
}

.icon {width:100%; cursor:pointer;}

.icon-label{
    display:block;   
}

.verb {
    color:#1abc9c;

}

.adjective {
    color: #2980b9;   
}

.noun {
    color: #c0392b;
}

.pronoun {
    color: #d35400;
}

.adverb {
    color: #8e44ad;
}

.highlight-btn {
     color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
     background: rgb(28, 184, 65); 
    border:none;
    font-family:'Crimson Text';
    line-height: 33px;
    padding:5px;
    font-size:22px;
    cursor:pointer;
    position:fixed;
    top:10px;
    right:10px;
    
}

.btns-wrapper {
       display:none;
}

@media screen and (max-width: 500px) {
    onoffswitch {
      width: 30px;
    }
    .margined {
        margin-left:20px;
    }
    .editor {
        margin-left:50px;
        margin-top:50px;
    }
    .icon-cont {
         top:50px;
        left:5px;
    }
}

